
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Seja bem vindo ao projeto</h2>
<hr />

Este é um Sistema criado com Asp.Net MVC,
banco de dados SqlServer e EntityFramework.
<br />
<br />
Turma de C# WebeDeveloper - Sábado Tarde / 2018.

