
@{
    ViewBag.Title = "Consulta de Livros";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Consulta de Livros</h4>
<br />

<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Título do Livro</th>
                    <th>Autor</th>
                    <th>Editora</th>
                    <th>Gênero</th>
                    <th>Resumo</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        Quantidade de registros:
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>